body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("/images/KangshungTiger2-dark.jpg");

  /* Set a specific height */
  height: 30%;

  /* Position and center the image to scale nicely on all screens */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  font-size: 14vw;
  text-align: top; 
  position: absolute;
  top: 32%;
  left: 42%;
  transform: translate(-50%, -50%);
  color: white;
}
